<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088882107770-op2lm1mms1dctc7lgoj8u7i2bs4dhgug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088882107770-op2lm1mms1dctc7lgoj8u7i2bs4dhgug</string>
	<key>API_KEY</key>
	<string>AIzaSyAlZLkEC0Xw6KGDK7Vj_T93LkX96v8vERw</string>
	<key>GCM_SENDER_ID</key>
	<string>1088882107770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akashDev.flashChat.freeform</string>
	<key>PROJECT_ID</key>
	<string>freeform-f4d8f</string>
	<key>STORAGE_BUCKET</key>
	<string>freeform-f4d8f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088882107770:ios:0126605c0d3baa5452a2c3</string>
</dict>
</plist>